In [1]:
#Working with python list data structure
#A list is container which holds comma seperated values(items and elements) between square brackets[] where item and element need not have same type.
#It can have any number of itmes and they may be of different types (int,float,string).
#5 characterisitics- mutable,linear DS,Mixed types elements,Variable length,Zero based indexing
## Traditional arrays cannot be created in python

In [2]:
#Type of list
#empty list
list1=[]
print(list1)

[]

In [6]:
#Number list-int list,float list
list1=[1,2,3,4,5]
print(list1)
list2=[1.1,2.44,3.43,2.33,9.3]
print(list2)
print(type(list2))

[1, 2, 3, 4, 5]
[1.1, 2.44, 3.43, 2.33, 9.3]
<class 'list'>

In [7]:
#String list
str1=['pankaj','annu','sushma','ashok']
print(str1)

['pankaj', 'annu', 'sushma', 'ashok']

In [9]:
#Mixed list
list1=['pankaj',12,3.44,'@']
print(list1)

['pankaj', 12, 3.44, '@']

In [10]:
#Nested List-List in list
list1=[['panakj','annu'],'sushma','ashok',[1,2,3,4,5],3.3,4.4]
print(list1)

[['panakj', 'annu'], 'sushma', 'ashok', [1, 2, 3, 4, 5], 3.3, 4.4]

In [14]:
#Dynamic List
list1=eval(input("Enter List:"))
print(list1)

Enter List: 4.55,22

(4.55, 22)

In [19]:
#Basic List operation
#concatenation,repetition,membership,iteration,length
list1=[1,2,34,4]
list2=['bat','ball','wicket','pitch']
print(len(list1))
list3=list1+list2
print(list3)
print(list1*3)
print(34 in list1)
print(8 in list2)
list4=['pankaj','arvind','ayesha','arnab','ankur']
for friend in list4:
    print("say hey:",friend)

4
[1, 2, 34, 4, 'bat', 'ball', 'wicket', 'pitch']
[1, 2, 34, 4, 1, 2, 34, 4, 1, 2, 34, 4]
True
False
say hey: pankaj
say hey: arvind
say hey: ayesha
say hey: arnab
say hey: ankur

In [23]:
#Access elements from the list
#List index-start from zero(0 to n)or (-(n+1),-1). Nested list are accessed by using nested indexing.
#Cannot use float or other type. will throw error.
list1=['Big Data','Hadoop','spark','IOT']
print(list1[1])
print(list1[3])
print(list1[2])
print(list1[-1])
print(list1[-2])

Hadoop
IOT
spark
IOT
spark

In [35]:
list1=['pankaj','annu',1,2,3,4,[33,44,55,66],['aalo','laddu']]
print(list1[1])
print(list1[-2])
print(list1[-1])
print(list1[1][-1])
print(list1[-1][-1][-3])

annu
[33, 44, 55, 66]
['aalo', 'laddu']
u
d

In [42]:
#List slicing
#sliced_list=list_name[start index:End index]
list1=['pankaj','annu',1,2,3,4,[33,44,55,66],['aalo','laddu']]
print(list1[1:3])
print(list1[1:-4])
print(list1[:])
print(list1[:-4])

['annu', 1]
['annu', 1, 2]
['pankaj', 'annu', 1, 2, 3, 4, [33, 44, 55, 66], ['aalo', 'laddu']]
['pankaj', 'annu', 1, 2]

In [46]:
#How to use start, stop and step
list1=['pankaj','annu',1,2,3,4,33,44,55,66,'aalo','laddu']
print(list1[1:3])
print(list1[1:6:2])
print(list1[10:2:-2])

['annu', 1]
['annu', 2, 4]
['aalo', 55, 33, 3]

In [47]:
list1=['pankaj','annu',1,2,3,4,33,44,55,66,'aalo','laddu']
list2=list1[2:11:1]
print(list1)
print(list2)
list2=list1[3:12:2]
print(list2)

['pankaj', 'annu', 1, 2, 3, 4, 33, 44, 55, 66, 'aalo', 'laddu']
[1, 2, 3, 4, 33, 44, 55, 66, 'aalo']
[2, 4, 44, 66, 'laddu']

In [48]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1[7:1:-3])
print(list1[2:7:2])
print(list1[2:7])
print(list1[:4])
print(list1[10:0:-1])
print(list1[3:])

[8, 5]
[3, 5, 7]
[3, 4, 5, 6, 7]
[1, 2, 3, 4]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[4, 5, 6, 7, 8, 9, 10]

In [51]:
#double slice operator
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1[::1])
print(list1[::-1])
print(list1[::2])
print(list1[::3])
print(list1[::-1])
print(list1[::-2])
print(list1[::-3])
print(list1[1::5])
print(list1[0::6])
print(list1[5::9])
print(list1[0::9])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
[2, 7]
[1, 7]
[6]
[1, 10]

In [54]:
str1="malayalam"        #Case sensitive
if str1==str1[::-1]:
    print("string is palindrome")
else:
    print("str is not palindrome")

string is palindrome

In [59]:
#Python list methods
#append(),insert(),pop(),index(),sort(),copy(),reverse(),extend(),clear(),count(),reverse()
list1=['pankaj','annu',1,2,3,4,33,44,55,66,'aalo','laddu']
list1.append('raju chacha')
print(list1)

['pankaj', 'annu', 1, 2, 3, 4, 33, 44, 55, 66, 'aalo', 'laddu', 'raju chacha']

In [62]:
#We can modify an element by using the index of the element
list1=['pankaj','annu',1,2,3,4,33,44,55,66,'aalo','laddu']
print(list1)
list1[0]='Ram bharose'
print(list1[0])
print(list1)

['pankaj', 'annu', 1, 2, 3, 4, 33, 44, 55, 66, 'aalo', 'laddu']
Ram bharose
['Ram bharose', 'annu', 1, 2, 3, 4, 33, 44, 55, 66, 'aalo', 'laddu']

In [66]:
list1=['BigData']
print(list1)
list1.append('ml')
print(list1)
list1.append({'AI'})
print(list1)
list1.append({1:'Python'})
print(list1)

['BigData']
['BigData', 'ml']
['BigData', 'ml', {'AI'}]
['BigData', 'ml', {'AI'}, {1: 'Python'}]

In [3]:
#extend()-Add all element of list to another list.
#list.extend(iterable)
list1=['pankaj','annu','ayesha','arvind']
list1.extend(['Bombay','Patna','Allahbaad','Indore'])
print(list1)

['pankaj', 'annu', 'ayesha', 'arvind', 'Bombay', 'Patna', 'Allahbaad', 'Indore']

In [5]:
#Appending two list
list1=['chicken','mutton','fish','shirmp']
list2=['patna','sultanpur','barh','bkp']
list1.extend(list2)
print(list1)

['chicken', 'mutton', 'fish', 'shirmp', 'patna', 'sultanpur', 'barh', 'bkp']

In [9]:
#Python list insert-It insert the elements to the list at given index.
#list.insert(index,element)
list1=[1,2,3,4,5]
list1.insert(5,'pankaj')
print('updated list:',list1)

updated list: [1, 2, 3, 4, 5, 'pankaj']

In [13]:
#remove()-remove an item from the list
#list.remove(item)
list1=[1,2,3,4,5,6,'pankaj','kumar','agrahari']
list1.remove(list1[7])
print('updated list:',list1)

updated list: [1, 2, 3, 4, 5, 6, 'pankaj', 'agrahari']

In [14]:
#clear()-removes all items from list
#list.clear()
list1=[1,2,3,4,5,'patna','Indore']
list1.clear()
print(list1)

[]