In [3]:
#index()-returns index in the list of first item whose value is x
#list.index(item[,start][,end])
list1=[1,2,3,3,4,5,6,7,8,9,10]
print(list1)
print(list1.index(4))
print(list1.index(3,3))
print(list1.index(4,4,10))

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]
4
3
4

In [4]:
list1=[1,2,3,1,4,5,2,5,6,1,4]
print(list1)
print(list1.index(2))
print(list1.index(2,2))
print(list1.index(1,2,7))
print(list1.index(4,3,9))

[1, 2, 3, 1, 4, 5, 2, 5, 6, 1, 4]
1
6
3
4

In [5]:
listy=list('HELLO WORLD')
print(listy)
index=listy.index('L')
print(index)
index=listy.index('L',4)
print(index)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
2
9

In [6]:
#count()-returns the count of number of item passed as an arguemnet
#list.count(item)
list1=['pankaj','neeraj','suraj','dhiraj']
print(list1.count('dhiraj'))

1

In [9]:
#sort()-sort the items of the list in place.
#list.sort(reverse=true|false,key=my func)
#reverse optional, reverse =true will sort the list descending. Default is reverse=False
#key optional.
#sort() doesn't support mixed data type.
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

['gaurav', 'manoj', 'neeraj', 'pankaj', 'suraj', 'uday']
['uday', 'suraj', 'pankaj', 'neeraj', 'manoj', 'gaurav']

In [10]:
#revese()-reverse the item of the list
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
list1.reverse()
print(list1)

['gaurav', 'uday', 'neeraj', 'suraj', 'manoj', 'pankaj']

In [11]:
#copy()-returns a shalllow copy of the list
#list.copy()
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
list1.append(444)
print(list1)
list2=list1.copy()
print(list2)
list2.append(666)
print(list2)

['pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'gaurav', 444]
['pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'gaurav', 444]
['pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'gaurav', 444, 666]

In [3]:
#using list as a stack-last in first out-stack is a container
#pop()-use to remove element from right to left
#list.pop()
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
list1.pop()
print(list1)
list1.append('kamal')
print(list1)
list1.pop()
print(list1)

['pankaj', 'manoj', 'suraj', 'neeraj', 'uday']
['pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'kamal']
['pankaj', 'manoj', 'suraj', 'neeraj', 'uday']

In [4]:
#difference btw remove() and pop()
#diff-we can use to remove() specific element,never return any value,if element not exist then return error
#pop-remove last element from the list,will retrun removed element,if no item in the list then error

In [12]:
#using list as a queue-first in first out
#deque-also known as double ended queue,ordered collection of itmes similar to queue.It can assume many characteristic of stack and queue,not required lifo or fifo.
from collections import deque
list1=deque(['pankaj','manoj','suraj','neeraj','uday','gaurav'])
list1.append('jalaj')
print(list1)
list1.popleft()
print(list1)
list1.popleft()
print(list1)

deque(['pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'gaurav', 'jalaj'])
deque(['manoj', 'suraj', 'neeraj', 'uday', 'gaurav', 'jalaj'])
deque(['suraj', 'neeraj', 'uday', 'gaurav', 'jalaj'])

In [13]:
#convert a list to a tuple in python
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
print(type(list1))
tup=tuple(list1)
print(tup)

<class 'list'>
('pankaj', 'manoj', 'suraj', 'neeraj', 'uday', 'gaurav')

In [14]:
#compare two list in python
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
list2=['annu','sushma','ayesha','chikki','shivi']
print(list1==list2)
list1.sort()
list2.sort()
print(list1==list2)

False
False

In [18]:
list3=[]
for i in range(10):
    if i%2==1:
        list3.append(i)
        print(list3)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]

In [21]:
#list built in function
#all(),len(),min(),any(),list(),sum(),enumerate(),max(),sorted()
s=[1,3,5,7]
print(all(s))

True

In [28]:
s=[]
print(all(s))

True

In [29]:
s=[0,1,2,3,False]
print(any(s))

True

In [30]:
s=[]
print(any(s))

False

In [31]:
#enumerate()-add counter to an iterable and returns it(the enumerate object)
#enumerate(iterable,start=0)
#Iterable- A sequence, an iterator or objects that supports iteration.
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
eData=enumerate(list1)
print(type(eData))
print(list(eData))

<class 'enumerate'>
[(0, 'pankaj'), (1, 'manoj'), (2, 'suraj'), (3, 'neeraj'), (4, 'uday'), (5, 'gaurav')]

In [32]:
#Looping over an enumerate object
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
for item in enumerate(list1):
    print(item)

(0, 'pankaj')
(1, 'manoj')
(2, 'suraj')
(3, 'neeraj')
(4, 'uday')
(5, 'gaurav')

In [33]:
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
for item,count in enumerate(list1,100):
    print(item,count)

100 pankaj
101 manoj
102 suraj
103 neeraj
104 uday
105 gaurav

In [34]:
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
print(list(enumerate(list1)))

[(0, 'pankaj'), (1, 'manoj'), (2, 'suraj'), (3, 'neeraj'), (4, 'uday'), (5, 'gaurav')]

In [35]:
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
for index,value in enumerate(list1):
    print(f'{index}:{value}')

0:pankaj
1:manoj
2:suraj
3:neeraj
4:uday
5:gaurav

In [36]:
#len()
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
print(len(list1))

6

In [38]:
#max(),min()-use to dispaly maximum and minimum character based on ascii
print(max(1,2,3,4))
print(min('a','b','c','d','e'))

4
a

In [39]:
#sumn()-use to display sum of values in the list
list1=[1,2,3,4,5]
print(sum(list1))

15

In [40]:
list1=['pankaj','manoj','suraj','neeraj','uday','gaurav']
print(sum(list1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
#sorted(iterable,key=key,reverse-reverse)
#Iterable required.The sequece to sort list,dict,tup etc.
#key optional-a function to execute to decide the order. Default is none.
#reverse optional-A boolean. False will sorting ascending and true will descending. Default is fault.
a=['a','b','c','d','e','f','g','h']
x=sorted(a)
print(x)
a=('d','e','v','c','w','r','h')
x=sorted(a,reverse=True)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['w', 'v', 'r', 'h', 'e', 'd', 'c']

In [51]:
a={'ddd':'ggggg','rrr':'tt','jjjj':'yyy','kkk':'oo'}
x=sorted(a,key=len)
print(x)
print(sorted(a.items()))
print(sorted(a.keys()))
print(sorted(a.values()))

['ddd', 'rrr', 'kkk', 'jjjj']
[('ddd', 'ggggg'), ('jjjj', 'yyy'), ('kkk', 'oo'), ('rrr', 'tt')]
['ddd', 'jjjj', 'kkk', 'rrr']
['ggggg', 'oo', 'tt', 'yyy']

In [55]:
#List of lists
A=[1]*2
print(A)
B=[[1]*2]*5
print(B)
C=[[2,0]*2]*3
print(C)

[1, 1]
[[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]]
[[2, 0, 2, 0], [2, 0, 2, 0], [2, 0, 2, 0]]

In [57]:
Fives=[5]*4
print(Fives)

[5, 5, 5, 5]

In [6]:
list1=[1,[2,[3,[4,[5]]]]]
print(list1[0])
print(list1[1][0])
print(list1[1][1][0])
print(list1[1][1][1])
print(list1[1][1][1][0])
print(list1[1][1][1][1])
print(list1[1][1][1][1][0])
print(list1[1][1][1][1][-1])
print(list1[-1][-1])

1
2
3
[4, [5]]
4
[5]
5
5
[3, [4, [5]]]

In [7]:
#List comprehension- In this method, we define the process through which  the list needs to be created. We spacify that what operation needs to be done and on what elements it needs to be done.
#[expression for item in iterable]
result=[x**2 for x in [3,4,5]]
print(result)

[9, 16, 25]

In [8]:
print([x*1 for x in [1,2,3,4]])
print([x*2 for x in [1,2,3,4]])
print([x**2 for x in [1,2,3,4]])
print([x**2 for x in [1,2,3,4] if x%2==0])
print([x**2 for x in [1,2,3,4] if x%2!=0])

[1, 2, 3, 4]
[2, 4, 6, 8]
[1, 4, 9, 16]
[4, 16]
[1, 9]

In [11]:
#[expression if conditional else stmt for item in iterable]
print([x if x>3 else x+1 for x in [1,2,3,4,5]])
print([x if x>3 else x+3 for x in [1,2,3,4,5,6]])
print([x if x<3 else x+3 for x in [1,2,3,4,5,6,7]])

[2, 3, 4, 4, 5]
[4, 5, 6, 4, 5, 6]
[1, 2, 6, 7, 8, 9, 10]

In [12]:
num=[1,2,3,4]
result=[x*10 for x in num]
print(result)

[10, 20, 30, 40]

In [13]:
print([x for x in 'hello12345' if x.isdigit()])
print([x for x in 'hello12345' if x.isalpha()])

['1', '2', '3', '4', '5']
['h', 'e', 'l', 'l', 'o']

In [19]:
list1=['hello','python','best']
result=[x.upper() for x in list1]
print(result)

['HELLO', 'PYTHON', 'BEST']

In [20]:
list1=['pankaj','annu','sushma','ashok']
result=[item[0] for item in list1]
print(result)

['p', 'a', 's', 'a']

In [21]:
a=[1,2,3,4,5]
b=[2,3]
print([x+y for x in a for y in b])

[3, 4, 4, 5, 5, 6, 6, 7, 7, 8]

In [23]:
#Diff between hardcopy,shallowcopy and deepcopy in python (copy or clone)
# HARD COPY AN OBJECT IN PYHTON-IN PYHTON, WE USE = OPERTAOR TO CREATE A COPY OF AN OBJECT.YOU MAY THINK THAT THIS CREATES A NEW OBJECT BUT IT DOESN'T.IT ONLY CREATE A NEW VARIABLE THAT SHARES THE REFERECE FO THE ORIGINAL OBJECT.
list1=[1,2,3,4,5,6]
print(list1)
list2=list1
print(list2)
list1[0]="pankaj"
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
['pankaj', 2, 3, 4, 5, 6]
['pankaj', 2, 3, 4, 5, 6]

In [24]:
#In python, there are two ways to create copies-1.shallow copy or copy,2.Deep copy
#Copy module-We use the copy module of python for shallow copy and deep copy operation.Suppose you need to copy the compound list say x.
import copy
print(dir(copy))

['Error', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_copy_dispatch', '_copy_immutable', '_deepcopy_atomic', '_deepcopy_dict', '_deepcopy_dispatch', '_deepcopy_list', '_deepcopy_method', '_deepcopy_tuple', '_keep_alive', '_reconstruct', 'copy', 'deepcopy', 'dispatch_table', 'error']

In [26]:
#SHALLOW COPY- A SHALLOW COPY CREATES A NEW OBJECT WHICH STORES THE REFERENCE OF THE ORIGINAL ELEMENTS.SO, A SHALLOW COPY DOESN'T CREATE A COPY OF NESTED OBJECTS, INSTEAD IT JSUT COPIES THE REFERENCE OF NESTED OBJECT.THIS MEANS A COPY PROCESS DOES NOT RECURSE OR CREATE COPIES OF NESTED OBJECTS ITSELF.
#COPY.COPY()
import copy
list1=[1,2,3,4,5,6]
print(list1)
list2=list1
list1=copy.copy(list2)
list1[0]='pyhton'
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6]
['pyhton', 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [27]:
import copy
l1=[[1,1,1],[2,2,2],[3,3,3]]
l2=copy.copy(l1)
l1.append('pankaj')
print(l1)
print(l2)

[[1, 1, 1], [2, 2, 2], [3, 3, 3], 'pankaj']
[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [29]:
#DEEP COPY-IT CONSTRUCTS A NEW COMPOUND OBJECT AND THEN RECURSIVELY INSERTS THE COPIES INTO IT THE OBJECT FOUND IN THE ORIGINAL.
#copy.deepcopy(x)
import copy
l1=[1,2,3,4,['a','b','c','d']]
l2=copy.deepcopy(l1)
l1[4][1]='hello'
print(l1)
print(l2)

[1, 2, 3, 4, ['a', 'hello', 'c', 'd']]
[1, 2, 3, 4, ['a', 'b', 'c', 'd']]

In [34]:
#zip() in python
#The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity. Python zip and unzip list and tupples
#zip(*iterators)
#Parameters:Python iterables or containers(list,string etc)
#Return Value:Returna single iterator object,having mapped values from all the containers.
l1=['pankaj','annu','sushma','ashok']
l2=['data','science','cpp','java']
z1=zip(l1,l2)
z1tuple=zip(l1,l2)
z1set=zip(l1,l2)
z1dict=zip(l1,l2)
print(list(z1))
print(tuple(z1tuple))
print(set(z1set))
print(dict(z1dict))

[('pankaj', 'data'), ('annu', 'science'), ('sushma', 'cpp'), ('ashok', 'java')]
(('pankaj', 'data'), ('annu', 'science'), ('sushma', 'cpp'), ('ashok', 'java'))
{('annu', 'science'), ('pankaj', 'data'), ('ashok', 'java'), ('sushma', 'cpp')}
{'pankaj': 'data', 'annu': 'science', 'sushma': 'cpp', 'ashok': 'java'}

In [35]:
l1=['pankaj','annu','sushma','ashok']
l2=['data','science','cpp','java']
for i,j in zip(l1,l2):
    print(i,j)

pankaj data
annu science
sushma cpp
ashok java

In [36]:
l1=[1,2,3,4]
l2=[5,6,7,8]
for i,j in zip(l1,l2):
    print('{}+{}={}'.format(i,j,i+j))

1+5=6
2+6=8
3+7=10
4+8=12

In [41]:
#HOW TO UNZIP-UNZIPPING MEANS CONVERTING THE ZIP VALUES BACK TO THE INDIVIDUAL SLF AS THEY WERE. THIS IS DONE WITH THE HELP OF'*' OPERTAOR.
l1=['pankaj','annu','sushma','ashok']
l2=['data','science','cpp','java']
z1=zip(l1,l2)
z2=zip(*z1)
print(*z2)

('pankaj', 'annu', 'sushma', 'ashok') ('data', 'science', 'cpp', 'java')

In [42]:
#DIFF BETWEEN DEL AND NONE KEYWORD
#DEL- THE VARIBALE WILL BE REMOVED AND WE CANNOT ACCESS THE VARIABLE.(UNBIND OPERATION)
str1='python'
del str1
print(str1)

NameError: name 'str1' is not defined

In [44]:
#NONE-VARIABLE WILL NOT BE REMOVED BUT THE CORRESPONDING OBJECT IS ELIGIBLE FOR GARBAGE COLLECTION(RE-BIND OPERATION)
str1='python'
print(str1)
str1=None
print(str1)

python
None