In [3]:
#Variable Assignment

In [7]:
integerNumber= 5
decimalNumber=20                  #We use assignment operator(=) to assign value to variables
stringVariable="StringValue"
print(integerNumber, decimalNumber, stringVariable)

5 20 StringValue

In [9]:
integerNumber , decimalNumber , stringVariable = 3,33.3,"StringValue"
"""Use comma to seperate the variable and their corresponding values"""
print(integerNumber , decimalNumber , stringVariable)

3 33.3 StringValue

In [12]:
variable1=variable2=variable3="All variable assigned the same value"
cat3=cat4=cat5=dog3=dog5="cat and dogs" #Multiple variable with the same value use one assigment
print(variable1,variable2,variable3,cat3,cat4,cat5,dog3,dog5)

All variable assigned the same value All variable assigned the same value All variable assigned the same value cat and dogs cat and dogs cat and dogs cat and dogs cat and dogs

In [20]:
print(id(intergerNumber))   #print address of variable: 'intergerNumber'// Storage Location

NameError: name 'intergerNumber' is not defined

In [ ]:
print(id(decimalNumber))   #print address of variable: 'decimalNumber'// Storage Location

In [21]:
interger1 = 154
decimal2 = 1
print(id(interger1))
print(id(decimal2))

1933405744
1933403296

In [27]:
data1=3434   #Integer Data type
data2=12.32  #Float Data type
data3=343+4j #Data type is chaned to complex
print(data1,"is of type",type(data1))
print(data2,"is of type",type(data2))
print(data3, "is a complex number?",isinstance(data3,complex))

3434 is of type <class 'int'>
12.32 is of type <class 'float'>
(343+4j) is a complex number? True

In [28]:
booleanVariable=True #'booleanVariable' is a boolean type and True is a keyword
print(type(booleanVariable))

<class 'bool'>

In [30]:
#Python Strings

In [35]:
stringVariable = "This is a string variable"    #Python String
print('stringVariable is :',stringVariable)
print('First character in stringVariable is :',stringVariable[0])
print('tenth character in stringVariable is :',stringVariable[10])
print('100th character in stringVariable is :',stringVariable[100]) #Out of Range

stringVariable is : This is a string variable
First character in stringVariable is : T
tenth character in stringVariable is : s

IndexError: string index out of range

In [36]:
#Slicing of String Variable
print(stringVariable[0:8])
print(stringVariable[:8])
print(stringVariable[6:])

This is
This is
s a string variable

In [1]:
#Python List
#Orderd sequence
#Seperated by comma and enclosed in[]
myList=[3,3.5, "ThirdElement", 12,24,"More Values"]
print(myList)

[3, 3.5, 'ThirdElement', 12, 24, 'More Values']

In [5]:
print(myList[4]) 
print(myList[0])  #Print an element Bases on its index. Index start rom Zero

24
3

In [6]:
myList[2]="Pankaj"             #list are mutable means value of elements of the list can be changed.
print(myList)

[3, 3.5, 'Pankaj', 12, 24, 'More Values']

In [8]:
myList.remove("More Values")   #Remove items from particular index
print(myList)

[3, 3.5, 'Pankaj', 12, 24]

In [9]:
myList.pop(2)     #Remove item from particular index
print(myList)

[3, 3.5, 12, 24]

In [10]:
myList.append(2.2)         #Add item at the last index
print(myList)

[3, 3.5, 12, 24, 2.2]

In [11]:
#Python tupple
#immutable means cannot be modified
#Defined with parenthses and separated by commma.

In [16]:
myTuple = ("Pankaj",2,422,45)
print(myTupple); print(myTupple[3])

('Pankaj', 2, 422, 45)
45

In [17]:
myTuple[3]=234

TypeError: 'tuple' object does not support item assignment

In [18]:
#Python set
#Unordered collection of unique itmes
#Defined and seperated by comma inside curly braces{}.
mySet={29,35,53,65,33}
print(mySet)

{65, 33, 35, 53, 29}

In [19]:
mySet={23,33,23,33,53,53,56,64}  #Only unique value is considered,duplicates removed automatically
print(mySet)

{64, 33, 53, 23, 56}

In [21]:
print(type(mySet))  #Check the type of the variables

<class 'set'>

In [22]:
print(mySet[2])  #Cannot print any particular element coz its and unordered collection

TypeError: 'set' object is not subscriptable

In [25]:
 #Python Dictionary used when we have a huge amount of data.
 #Optimized for retriving Data
 #Must know the key to retrive the value.
 #Dictionaries are defined within curly braces.
 #Each item being a pair in the form key:value(key and value can be of any type)

In [27]:
myDictionary= {'key1':"value1",'key2':"value2",'key3':"value3",}
print(myDictionary['key2'])
print(myDictionary['key3'])

value2
value3

In [32]:
#Update a value in the dictionary
myDictionary['key2']="value2.2"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

In [33]:
myDictionary["key4"]="value4"   #Add a new key value
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

In [34]:
del myDictionary["key2"]
print(myDictionary)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

In [37]:
int(5.5)

5

In [38]:
str('5')

'5'

In [39]:
float(5)

5.0

In [40]:
str(5.5)

'5.5'

In [41]:
int('5')

5

In [42]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [43]:
float('5.5')

5.5

In [44]:
int('CharIn10')

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [45]:
myNewString = 'text1'+10+'text2'
print(myNewString)

TypeError: can only concatenate str (not "int") to str

In [49]:
myNewString="text1" + str(20) + 'text2'
print(myNewString)

text120text2

In [53]:
#Convert list to set
myList1=['a','b','c','d','s','a']
print(myList1)
print(type(myList1))
mySet2 = set(myList1)
print(type(mySet2))
print(mySet2)

['a', 'b', 'c', 'd', 's', 'a']
<class 'list'>
<class 'set'>
{'c', 's', 'a', 'b', 'd'}

In [57]:
#Convert set to list
mySet3={55,53,56}
print(mySet3)
print(type(mySet3))
myList4= list(mySet3)
print(type(myList4))
print(myList4)

{56, 53, 55}
<class 'set'>
<class 'list'>
[56, 53, 55]

In [62]:
#String to list
myString2='This is string to list'
print(type(myString2))
strToList = list(myString2)
print(type(strToList))
print(strToList)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']