In [1]:
#Arithmetic Operator " +,-,*,/,%,//,** "

In [2]:
variable1 , variable2=5,2
print(variable1+variable2)
print(variable1-variable2)
print(variable1*variable2)
print(variable1/variable2)
print(variable1%variable2)      #Modulo Division
print(variable1//variable2)     #Floor Division
print(variable1**variable2)     #Exponent(**)

7
3
10
2.5
1
2
25

In [3]:
#Comparision Operator " >,<,==,!=,>=,<= "

In [4]:
print(variable1<variable2)
print(variable1>variable2)
print(variable1==variable2)  #Is equal to 
print(variable1!=variable2)  #Not equal to
print(variable1>=variable2)
print(variable1<=variable2)

False
True
False
True
True
False

In [5]:
#Logical Operator " and,or,not "

In [6]:
variable1,variable2=True,False
print(variable1 and variable2)
print(variable1 or variable2)
print( not variable2)

False
True
True

In [7]:
#Bitwise Operator " &, |, ~, ^, >>, << "

In [10]:
variable1, variable2 = 3,7     #Decimal to bitwise 3- 00000011 & 7- 00000111
print(variable1&variable2)     #Bitwise AND -> 00000011 & 00000111 -> 3
print(variable1|variable2)     #Bitwise OR-> 00000011|00000111 ->7
print(~variable2)              #Bitwise NOT-> ~00000111 ->11111000->8
print(variable1^variable2)     #Bitwise XOR-> 00000011^00000111 ->4
print(variable1>>2)            #Bitwise Rightshift 00000011>>2 ->00000000
print(variable1<<2)            #Bitwise Leftshift 00000011<<2 ->00001100 ->12

3
7
-8
4
0
12

In [11]:
#Assignment Operators " =, +=, -=, /=, //=, **=, &=, |=, ^=, >>=, <<= "

In [12]:
age = 40
age+=4
print(age)
age-=7
print(age)
age*=4
print(age)
age/=4
print(age)
age%=20
print(age)
age //=4
print(age)
age**=4
print(age)

44
37
148
37.0
17.0
4.0
256.0

In [13]:
#Identitiy operator(Special Operator)
#"is and is not are the two special operator"

In [14]:
variable1 = 20
variable2 = 23
print(variable1 is variable2)
print(variable1 is not variable2)

False
True

In [16]:
myList1=[1,32,23]
myList2=[1,32,23]
print(myList1 is myList2)

False

In [17]:
myString1="pankaj"
myString2="pankaj"
print(myString1 is not myString2)

False

In [18]:
#Membership operator(Special operators)
#in and not in

In [20]:
myList3=['a',22,'b',100]
print(22 in myList3)
print('b' not in myList3)

True
False

In [24]:
myDictionary = {123: 'Apple', 200:'Banana'}
print(123 in myDictionary)

True

In [29]:
#Example of if-statement
num=20
if num<150:
    print('num is less than 15')
    print('outside if block')

num is less than 15
outside if block

In [30]:
if -1:
    print("Inside if")
print("Outside if")

val=-1
print(bool(val))

Inside if
Outside if
True

In [33]:
#if-else statement
age=22
if age>32:
    print('Adult')
else:
    print('Child')

Child

In [36]:
#if-elif-else Statement
age=20
if age<20:
    print('Adult')
elif age>20:
    print('teen')
else:
    print('child')

child

In [40]:
#Nested if Statement
age=2
if age>=20:
    if age<=26:
        print('Teen')
    else:
        print('Adult')
else:
    print('Child')
    
print('This will always get executed')

Child
This will always get executed

In [44]:
#Combineing operator in if-statement
age=305
person_type='not sure'
if (age>= 30) and (age<=40):
    person_type='teen'
elif (age>=0) and (age<=29):
    person_type='Child'
else:
    person_type='Adult'
print('The person is in category: {}'.format(person_type))

The person is in category: Adult

In [47]:
#While Loop
#it is checked again after one iteration
#Continues untill the test_expression evaluates to False

#Find the sum of all the numbers in the list
myList=[1,2,3,4,5]
sum=0
index=0
while index<len(myList):
    sum+=myList[index]
    index+=1
print('sum of the array is:{}'.format(sum))

sum of the array is:15

In [48]:
#range() function
#range(start,stop,step size)
for element in range(5):
    print(element)

0
1
2
3
4

In [49]:
#print range numbers from 0 to 40 but with step size of 12
for element in range(1,40,4):
    print (element)

1
5
9
13
17
21
25
29
33
37

In [50]:
myList=[1,2,2,3,4,2,"pankaj"]
#Iterate over myList using index
#for index in range(len(myList)):
# print(myList[index])
for element in myList:
    print(element)

1
2
2
3
4
2
pankaj

In [51]:
#for loop with else
names = ['pankaj','annu','sushma','ashok']
#iterating over the list
for name in names:
    print(name)
else:
    print("completed the name list")

pankaj
annu
sushma
ashok
completed the name list

In [54]:
#let's use the break keyword
for name in names:
    print(name)
    if name=="didi":
        break
else:
    print("completed the name list")
print('totally outside the for else block')

pankaj
annu
sushma
ashok
completed the name list
totally outside the for else block

In [59]:
#program to calculate the divisiors of the number
inputNumber=input("please enter a positive number:")
number= int(inputNumber)
listofDivisors=[1]
for divisor in range(2,int(number/2)+1):
    if(number%divisor == 0):
        listofDivisors.append(divisor)
else:
    print(listofDivisors)

please enter a positive number: 1000

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500]

In [62]:
#Use of break
names=['pankaj','annu','Roshini']
for name in names:
    if name == "Roshin":
        break
    print(name)
else:
    print('For is completed and we are in else part')
print("Totally outside the for & else loop")

pankaj
annu
Roshini
For is completed and we are in else part
Totally outside the for & else loop

In [67]:
#use of continue
names = ['pankaj','annu','munna','sushma']
for name in names:
    if name == 'pankaj':
        continue
    print(name)
else:
    print('For is completed and we are in else part')
print("Totally outside the for & else loop")

annu
munna
sushma
For is completed and we are in else part
Totally outside the for & else loop

In [ ]:
#First three divisors of a number except 2 & 3
inputNumber = input("please enter a positive number:")
number=int(inputNumber)
listofDivisors=[1]
for divisor in range(2,int(number/2)+1):
    if number%divisor ==0:
        if divisor in [2,3]:
            continue
        elif len(listofDivisors) == 3:
            break
        listofDivisors.append(divisor)
print(listofDivisors)