In [1]:
#WORKING WITH PYTHON TUPLE DATA STRUCTURE
#TUPLE IS READONLY LIST AND CANNOT BE MODIFIED. A TUPLE IS DEFINED USIN PARENTHESIS.
##ADVANTAGE OF TUPLE OVER LIST##
#TUPLE IS USED FOR HETROGENEOUS DATATYPE AND LIST FOR HOMOGENEOUS.
#SINCE TUPLE ARE IMMUTABLE,HENCE ITERTAING THROUGH TUPLE IS FASTER THAN LIST.
#TUPLE CAN BE USED AS A KEY FOR A DICTIONARY, WITH LIST IT IS NOT POSSIBLE.
#MORE ABOUT TUPLE- CAN'T ADD ELEMENTS TO TUPLE, CAN'T REMOVE ELEMENTS FROM A TUPLE

In [2]:
#CREATE EMPTY TUPLE
PyTuple=()
print(type(PyTuple))
print(PyTuple)

<class 'tuple'>
()

In [3]:
#Creating tuple having integers
PyTuple=(1,2,3)
print(type(PyTuple))
print(PyTuple)

<class 'tuple'>
(1, 2, 3)

In [4]:
#Creaeting tuple having float value
t1=(1.1,2.2,3.3)
print(t1)

(1.1, 2.2, 3.3)

In [6]:
#Creating tuple having mix datatype
t1=(1,'data science',2)
print(t1)

(1, 'data science', 2)

In [7]:
#Creating nested tuple
t2=('pankaj',1,2,3,(4,5,56,'Data Science'))
print(t2)

('pankaj', 1, 2, 3, (4, 5, 56, 'Data Science'))

In [8]:
#Tuple packing
#Creating tuple without parenthesis is also called tuple packing
t1=1,2,3,4,"allo"
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3, 4, 'allo')

In [10]:
#Tuple unpacking is also possible
a,b=t1
print(a);print(b)

ValueError: too many values to unpack (expected 2)

In [11]:
#Creating a tuple with one element is bit tricky.
#Having one element with parenthesis is not enough.We will need a trailing comma to indicate that it is in fact a tuple.
t1=("Data Science")
print(type(t1))
print(t1)

<class 'str'>
Data Science

In [14]:
t1=("Data Science",)
print(type(t1))
print(t1)

<class 'tuple'>
('Data Science',)

In [17]:
#List inside tuple
t1=(1,[1,2])
print(t1)
print(type(t1))
print(t1[0])
print(t1[1])
print(t1[1][1])
t1[1][1]='4'
print(t1)

(1, [1, 2])
<class 'tuple'>
1
[1, 2]
2
(1, [1, '4'])

In [18]:
#tuple membership test
#We can test if an item exist in a tuple or not,using the keyword in.
t1=(1,2,3,[4,5])
print(type(t1))
print(1 in t1)
print(10 not in t1)
print(5 in t1)

<class 'tuple'>
True
True
False

In [19]:
#Iterating through a tuple
#using a for loop we can iterate through each item in a tuple.
for name in ('kumar','pankaj','agrahari'):
    print('Hai',name)

Hai kumar
Hai pankaj
Hai agrahari

In [20]:
#Slice a tuple
#We can access a range of items in tuple by using the slicing operator-colon ':'
t1=(1,2,3,4,5,6,7,8,9)
print(t1[3:5])
print(t1[:6])
print(t1[5:])
print(t1[:])
print(t1[-8:-4])

(4, 5)
(1, 2, 3, 4, 5, 6)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(2, 3, 4, 5)

In [21]:
#slice of a tuple using step parameter
t1=tuple("Data Science")
print(t1)
print(t1[2:9:2])
print(t1[::4])
print(t1[9:2:-3])

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')
('t', ' ', 'c', 'e')
('D', ' ', 'e')
('n', 'c', 'a')

In [1]:
#How operator + and * are used with a Python tuple?
t1=(3,4,5,6,8)
t2=("P","Y","T","H","O","N")
t3=(True, False)
t4=t1+t2+t3
print(t4)

(3, 4, 5, 6, 8, 'P', 'Y', 'T', 'H', 'O', 'N', True, False)

In [2]:
t5=5,
print(t5*5)

(5, 5, 5, 5, 5)

In [3]:
#Python tuple method
#count()-return the number of items
#index()-return index of first item
#In python how to know the number of times an item has been repeated
t1=(1,2,3,4,5,2,3,2,3,5,6,65,4,43,22,1,1,1)
print(t1.count(1))
print(t1.count(6))
print(t1.count(5))

4
1
2

In [5]:
#find the index of an item of the tuple
t1=1,2,43,4,6,5
print(t1.index(2))

1

In [7]:
#Add item in tuple
t1=1,2,3,4,5
print(t1)
t2=t1+(6,)
print(t2)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [8]:
t1=tuple('Index value')
print(t1.index('v'))
print(t1.index('e',5))

6
10

In [9]:
#mtd2- add item in tuple
t1=(4,3,2,3,45)
print(t1)
lx=list(t1)
lx.append(333)
t1=tuple(lx)
print()

(4, 3, 2, 3, 45)

In [11]:
t2=(23,44,55,6,6)
t2.append((2,3,4))
print(len(t2))

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
#Deletion of tuple
#we cannot change the elements in tuple.That also means we cannot delete or removes items from a tuple.
#but deleting a tuple entirely is possible using te keyword del.
t1=(1,1,12,3,4,4,4)
del t1
print(t1)

NameError: name 't1' is not defined

In [14]:
#remove an item from a tuple through list
t1=(1,2,3,4,5,6)
l1=list(t1)
l1.remove(3)
t1=tuple(l1)
print(t1)

(1, 2, 4, 5, 6)

In [15]:
#Built in functions with tuple
#all(),any(),enumerate(),len(),max(),min(),sorted(),sum()

In [16]:
#Pyhton emumerate()
#enumerate(iterable,start=0)
t1=('pankaj','annu','sushma')
enumerateData=enumerate(t1)
print(type(enumerateData))
enumerateData=enumerate(t1,10)
print(tuple(enumerateData))

<class 'enumerate'>
((10, 'pankaj'), (11, 'annu'), (12, 'sushma'))

In [18]:
t1=('science','art','commerce')
for item in enumerate(t1):
    print(item)

(0, 'science')
(1, 'art')
(2, 'commerce')

In [19]:
for count,item in enumerate(t1,100):
    print(count,item)

100 science
101 art
102 commerce

In [3]:
#all() function-returns true when all elelments in the given iterable are true.IF not,it return false.
#all(iterable)
t1=(1,2,3,4)
print(all(t1))
s=(0,False)
print(all(s))

True
False

In [4]:
s=[0.,False,5]
print(all(s))

False

In [5]:
s=[]
print(all(s))

True

In [6]:
#any()-return true if any element of an iterbale is true.If not this method return false
#any(iterable)
s=(1,2,3,0)
print(any(s))

True

In [7]:
s=(0,False)
print(any(s))

False

In [8]:
s=[0,False,5]
print(any(s))

True

In [13]:
#sorted()-sorts element as per sepcific order
#sorted(iterable[,reverse])
l1=['e','d','r','v']
print(sorted(l1,reverse=True))

['v', 'r', 'e', 'd']

In [15]:
s1='pankaj'
print(sorted(s1,reverse=True))

['p', 'n', 'k', 'j', 'a', 'a']

In [20]:
#sum()- adds items of an iterable and returns sum.
#sum(iterable)
numbers=1,2,3,4,5
numbers=sum(numbers)
print(numbers)

15

In [21]:
#Python tuple() function
t1=tuple([1,2,3,4])
print(t1)

(1, 2, 3, 4)

In [22]:
t1=tuple("pankaj")
print(t1)

('p', 'a', 'n', 'k', 'a', 'j')

In [23]:
#cmp()-compare elements of both the tuple
#tuples are equal than returns 0.
#if first<second,returns -1 if first>second then +1
t1=(10,20,30)
t2=(20,30,40)
t3=(20,10,30)
print(cmp(t1,t2))
print(cmp(t1,t3))
print(cmp(t2,t3))

NameError: name 'cmp' is not defined

In [ ]:
#cmp is removed from Python 3.